.registration__form {
  margin: 0 auto;
  margin-top: 100px;
  width: 450px;
  height: auto;
  border: 1px solid darkslategray;
  border-radius: 10px;
  padding: 30px 20px;
}
.registration__form--title {
  text-align: center;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: rgb(38, 179, 235);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #45a049;
}

.userData {
  margin-top: 20px;
}

p {
  font-style: italic;
}
